<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Project Updated</h1>
		<p>Name: <%= @project.name %>
		<br>Slug: <%= @project.slug %>
		<br>Default Rate: <%= @project.default_rate %>
		<br>Company: <%= @project.company %>
		<br>User: <% @project.owner %>
		<br>Changed at: <%= @project.updated_at.strftime('%m/%d/%Y %I:%M %p') %></p>
	</body>
</html